
	    body {
	        margin: 0;
	        padding: 0;
	        background-color: #FAFAFA; /*nanti di remak*/
	        font: 12pt "Times New Roman";
	    }

	    * {
	        box-sizing: border-box;
	        -moz-box-sizing: border-box;
	    }
	    .page {
	        width: 21cm;
	        min-height: 33cm;
	        padding: 1cm;
	        margin: 1cm auto;
	        border: 1px #D3D3D3 solid; /*nanti di remak*/
	        border-radius: 5px;
	        background: white;
	        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /*nanti di remak*/
	    }
	    .subpage {
	        padding: 0cm;
	        border: 5px red solid; /*nanti di remak*/
	        height: 320mm;
	        outline: 1cm #FFEAEA solid; /*nanti di remak*/
	    }
	    
	    @page {
	        size: F4;
	        margin: 0;
	    }

	    @media print {
			html, body {
			    width: 210mm;
			    height: 290mm;
			}
	        .page {
	            margin: 0;
	            border: initial;
	            border-radius: initial;
	            width: initial;
	            min-height: initial;
	            box-shadow: initial;
	            background: initial;
	            page-break-after: always;
	        }
	    }
